@font-face {
    font-family: 'Brandon Grotesque';
    font-style: normal;
    font-weight: normal;
    src: url('./../css/fonts/brandon/brandongrotesque.otf');
}
@font-face {
    font-family: 'Brandon Text';
    font-style: normal;
    font-weight: normal;
    src: url('./../css/fonts/brandon/brandon-text-regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Brandon Text';
    font-style: italic;
    font-weight: normal;
    src: url('./../css/fonts/brandon/brandon-text-italic.ttf') format('truetype');
}
@font-face {
    font-family: 'Brandon Text';
    font-style: normal;
    font-weight: bold;
    src: url('./../css/fonts/brandon/brandon-text-bold.ttf') format('truetype');
}

body {
    font-family: 'Brandon Text', -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Arial, sans-serif;;
}

#contactsmenu {
    display: none;
}
.settings-menu.menu li[data-id="firstrunwizard-about"] {
    display: none;
}
.info-nav-button img path {
    fill: #FFFFFF;
}

#firstrunwizard .modal-container {
    max-width: 1000px !important;
    max-height: 750px !important;
}

/* use logos from theme */
#header .logo,
#firstrunwizard .logo {
	background-image: url('../img/logo.png');
}
#header .logo-exit-icon {
    background-image: url('../img/logo-exit-icon.svg') !important;
    margin: 14px 0;
    width: 40px;
    height: 20px;
    left: 4px;
}
#header .logo-exit-icon path {
    fill: #ffffff;
}
#header .logo-plattform {
    background-image: url('../img/logo-plattform.svg') !important; 
    width: 90px;
}
#header .logo-plattform path {
    fill: #ffffff;
}
/* unused
#header .logo-icon {
    background-image: url('../img/logo-icon.png') !important;
    width: 80px;
}
#header .logo-icon-plattform {
    background-image: url('../img/logo-icon-plattform.png') !important; 
    margin: 5px 0;
    width: 38px;
}
*/

#firstrunwizard .page .content {
    padding: 40px !important;
}
#firstrunwizard .page .wizard-warning {
    border: 2px solid #01649a;
    padding: 40px 80px;
    text-align: center;
}
#firstrunwizard .page .wizard-warning h2 {
    margin-bottom: 20px !important;
}
#firstrunwizard .modal-footer {
    display: none;
}


#nextcloud {
    padding-left: 110px;
}
#nextcloud-plattform {
    /* From #nextcloud */
    padding: 7px 0;
    padding-left: 86px;
    position: relative;
    height: 100%;
    box-sizing: border-box;
    opacity: 1;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
}


/* --- Custom portal overwrites --- */


#nextcloud-plattform {
    /* our overwrites */
    background-color: #315f72;
    padding-left:50px;
    border-right: solid 1px #DBDBDB;
}

#nextcloud-plattform:hover {
    background-color: #22414E; 
}

#header .logo-plattform:hover {
    opacity: 0.8;
}

#body-user #header,
#body-settings #header,
#body-public #header {
 background-image:linear-gradient(to right, #315F72 0%, #0077a4 50%);
}

.searchbox input[type='search'] {
 opacity:0.8;
}

#header .header-right > div > .menutoggle,
#header .header-right > form > .menutoggle {
 opacity:0.8;
}

div.select2-drop .select2-search input:not(:disabled):not(.primary),
select:not(:disabled):not(.primary),
button:not(:disabled):not(.primary),
.button:not(:disabled):not(.primary),
input:not([type='range']):not(:disabled):not(.primary),
textarea:not(:disabled):not(.primary),
div[contenteditable=true]:not(:disabled):not(.primary),
.pager li a:not(:disabled):not(.primary) {
}
div.select2-drop .select2-search input:not(:disabled):not(.primary):hover,
select:not(:disabled):not(.primary):hover,
button:not(:disabled):not(.primary):hover,
.button:not(:disabled):not(.primary):hover,
input:not([type='range']):not(:disabled):not(.primary):hover,
textarea:not(:disabled):not(.primary):hover,
div[contenteditable=true]:not(:disabled):not(.primary):hover,
.pager li a:not(:disabled):not(.primary):hover,
div.select2-drop .select2-search input:not(:disabled):not(.primary):focus,
select:not(:disabled):not(.primary):focus,
button:not(:disabled):not(.primary):focus,
.button:not(:disabled):not(.primary):focus,
input:not([type='range']):not(:disabled):not(.primary):focus,
textarea:not(:disabled):not(.primary):focus,
div[contenteditable=true]:not(:disabled):not(.primary):focus,
.pager li a:not(:disabled):not(.primary):focus,
div.select2-drop .select2-search input:not(:disabled):not(.primary).active,
select:not(:disabled):not(.primary).active,
button:not(:disabled):not(.primary).active,
.button:not(:disabled):not(.primary).active,
input:not([type='range']):not(:disabled):not(.primary).active,
textarea:not(:disabled):not(.primary).active,
div[contenteditable=true]:not(:disabled):not(.primary).active,
.pager li a:not(:disabled):not(.primary).active {
 border-color:#4a4a4a;
 outline:none
}