{% load i18n %}

{% if rows %}
    {% include 'cosinnus_cloud/attached_cloud_files.html' with objects=rows no_indent=1 %}
{% else %}
	<div type="button" class="btn btn-emphasized dashboard-appwidget-contentline fine-space">
	    <ul class="media-list">
	        <li class="media">
	            <span class="pull-left">
	                <i class="fa fa-cloud"></i>
	            </span>
	            <div class="media-body">
	                {% trans "There are no cloud files yet" %}
	            </div>
	        </li>
	    </ul>
	</div><!-- btn -->
{% endif %}

{% if total_count or total_count == 0 %}
    {% comment %} Monkeypatch in the received total count for the cloud files in project dashboard links header {% endcomment %}
    <script type="text/javascript">
        $('.dashboard-header-link.app-cloud span').text("{{ total_count }}");
    </script>
{% endif %}

