

/* use logos from theme */
#header .logo,
#firstrunwizard .logo {
	background-image: url('../img/logo.png');
}
#header .logo-icon {
    background-image: url('../img/logo-icon.png') !important;
    width: 80px;
}
#header .logo-icon-plattform {
    background-image: url('../img/logo-icon-plattform.png') !important; 
    margin: 5px 0;
    width: 38px;
}
#firstrunwizard .page .content {
    padding: 40px !important;
}
#firstrunwizard .page .wizard-warning {
    border: 2px solid #01649a;
    padding: 40px 80px;
    text-align: center;
}
#firstrunwizard .page .wizard-warning h1 {
}


#nextcloud {
    padding-left: 110px;
}
#nextcloud-plattform {
    /* From #nextcloud */
    padding: 7px 0;
    padding-left: 86px;
    position: relative;
    height: 100%;
    box-sizing: border-box;
    opacity: 1;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    
    /* our overwrites */
    background-color: #01649a;
    padding-left: 64px;
}

